.burgerMenu {
  font-size: 10px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  position: absolute;
  top: 7em;
  right: 4em;
  color: black;
}

.burgerMenu span {
  font-size: 1.4em;
}

.burgerMenu-item {
  padding: 1em;
  cursor: pointer;
}

.burgerMenu-item:hover {
  background-color: rgba(232, 232, 232, 0.387);
}

.burgerMenu__auth {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.burgerMenu__action {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

#start__page {
  display: none;
}

#lang__toggle{
  display: none;
}

@media screen and (max-width: 1024px) {
  .burgerMenu {
    right: 2em;
  }
}

@media screen and (max-width: 768px) {
  #start__page {
    display: block;
  }
}
